body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.artist-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 50px;
}

.info {
    background-color: white;
    padding: 0 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.profile {
    border: 2px solid black;
    width: 500px;
    border-radius: 20px;
}

ul {
    white-space: nowrap;
}

li {
    display: inline;
    margin-right: 10px; 
}

.Popular-song {
    width: 200px;
    margin: 0 20px;
    border: 10px solid transparent;
    border-radius: 10px;
    transition: border-color 0.3s ease;
}

.Popular-song:hover {
    border-color: white;
}

.text {
    margin: 10px 30px;
}

.social-media {
    list-style: none;
    padding-left: 40px;
    display: flex;
    gap: 10px;
}

.social-media li {
    display: inline;
}

.social-media a {
    text-decoration: none;
    color: white;
    background-color: rgba(92, 89, 84, 0.627);
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, transform 0.3s;
    border: 1px solid #333;
}

.social-media a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

.social-media a i {
    font-size: 1.2em;
}
