.include-songs {
    margin-top: 20px;
    padding-top: 20px; 
    border-top: 2px solid #333;
}

.include-songs h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
}

.song-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.song-card {
    width: 300px; 
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.song-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
}

.song-card h3 {
    font-size: 20px; 
    color: #fff;
    margin: 0;
    padding: 10px;
    background: rgba(220, 206, 206, 0.7); 
    position: absolute;
    bottom: -50px; 
    width: 100%;
    text-align: center;
    transition: bottom 0.3s ease-in-out;
    margin: 0;
    box-sizing: border-box;
}

.song-card:hover h3 {
    bottom: 0;
}

.song-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px auto;
    max-width: 800px;
    text-align: center;
}

h1 {
    font-size: 36px;
}

.profile {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
    border: 3px solid black;
}

.info {
    margin-top: 20px;
    border: 2px solid #333;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    overflow: hidden; 
}

.text {
    margin-top: 10px;
}

.songs {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
}

.songs img:hover {
    border: 10px white solid;
}

.Popular-song {
    width: 150px;
    margin-right: 15px;
}

.social-media {
    list-style: none;
    margin-top: 20px;
    display: flex; 
    justify-content: center;
}

.social-media li {
    margin-right: 15px;
}

.social-media li:last-child {
    margin-right: 0; 
}

.social-media li a {
    text-decoration: none;
    color: #fff;
    background-color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.social-media li a:hover {
    background-color: #555;
    border-color: #333;
}
