.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(124, 124, 124, 0.8); /* 使用rgba來添加半透明效果 */
    border-radius: 10px;
    color: #fff;
    z-index: 1000;
    backdrop-filter: blur(10px); /* 添加模糊效果，可以調整模糊程度 */
}



.nav-logo {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff; /* logo 文字顏色 */
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    position: relative;
    text-decoration: none;
    color: #fff; /* 連結文字顏色 */
}

.nav-links li a::after {
    content: '';
    position: absolute;
    bottom: -5px; /* 距離連結底部的距離 */
    left: 0;
    width: 0%;
    height: 2px; /* 線的寬度 */
    background-color: #ffd700; /* 線的顏色 */
    transition: width 0.3s ease; /* 寬度過渡效果 */
}

.nav-links li a:hover::after {
    width: 100%;
}