.scroll-container::-webkit-scrollbar {
    height: 8px;
    background-color: transparent;
}

.scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.8);;
    cursor: pointer;
}

.information {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 90%; 
    border-radius: 20px;
}

.information img {
    max-width: 200px;
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 20px;
}

.info-text {
    flex-grow: 1;
}

.info-text h2 {
    margin: 0;
    font-size: 24px;
}

.info-text p {
    margin: 5px 0;
    font-size: 16px;
}

.info-text a {
    color: #007BFF;
    text-decoration: none;
}

.info-text a:hover {
    text-decoration: underline;
}

main {
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    width: 90%;
}

main h1 {
    text-align: center;
    font-size: 32px;
    color: #333;
}

.lyrics {
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 30px;
}

.lyrics p {
    margin: 10px 0;
}

.lyrics .chorus {
    font-weight: bold;
}

.lyrics .bridge {
    font-style: italic;
}

.origin-video-section img {
    border: 10px solid transparent;
    transition: border-color 0.5s ease;
    width: 300px;
}

.cover-section img {
    border: 10px solid transparent;
    transition: border-color 0.5s ease;
    width: 300px;
}

.origin-video-section img:hover {
    border-color: #ffffff;
}

.cover-section img:hover {
    border-color: #ffffff;
}

.origin-video-section, .cover-section {
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; 
    width: 90%;
}

.origin-video-section h2, .cover-section h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
}

.scroll-container {
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
}

.scroll-container a {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.scroll-container a {
    position: relative;
    display: inline-block;
}

.scroll-container a .tooltip {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: 5px white solid;
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
}

.scroll-container a:hover .tooltip {
    display: block;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}