:root {
    --background-dark: #2d3548;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

body {
    height: 100%;
    background-image: url("../images/pexels-steve-1292241.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.hero-section {
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
}

@media(min-width: 540px) {
    .card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    list-style: none;
    position: relative;
}

.card:before {
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
}

.card__background {
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .card__background {
    transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background {
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content {
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
}

.card__category {
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    line-height: 1.4;
    word-spacing: 100vw;
}

.artists {
    display: flex;
    padding: 30px;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
}

.artists div {
    display: flex;
    gap: 20px;
}

.artists img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
}

.artists img:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.artists::-webkit-scrollbar {
    height: 10px;
}

.artists::-webkit-scrollbar-track {
    background: transparent;
}

.artists::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #34495E, #2C3E50);
    border-radius: 10px;
    transition: width 0.3s ease;
}

.artists::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #16A085, #1ABC9C);
    width: 12px; 
}

.title {
    cursor: default;
    text-align: center;
    font-size: 36px;
    padding: 5px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px);
    color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
