<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>[Vaundy - 踊り子] MelodyMatch</title>
        <link rel="stylesheet" href="../../css/nav-bar.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/separator.css">
        <link rel="stylesheet" href="odoriko.css">
        <link rel="stylesheet" href="../../css/song-lyrics-page.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" integrity="sha512-U9Y1sGB3sLIpZm3ePcrKbXVhXlnQNcuwGQJ2WjPjnp6XHqVTdgIlbaDzJXJIAuCTp3y22t+nhI4B88F/5ldjFA==" crossorigin="anonymous" />
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel='icon' href='../../images/icon.svg'>
    </head>
    <body>
        <nav class="navbar">
            <a href="../../index.html" class="nav-logo">MelodyMatch</a>
            <ul class="nav-links">
                <li><a href="../../index.html">首頁</a></li>
                <li><a href="../../about.html">關於我們</a></li>
                <li><a href="../song-list.html">所有歌詞</a></li>
                <li><a href="../../lyrics-upload.html">新增歌詞</a></li>
                <li><a href="../../login.html">登入</a></li>
                <li>
                    <form class="search-form" action="search-results.html" method="get">
                        <input type="text" name="query" class="search-input" placeholder="搜尋歌曲或藝人">
                        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="information">
            <img src="../../images/song/odoriko.jpg">
            <div class="info-text">
                <h2>踊り子</h2>
                <p>藝人: Vaundy</p>
                <p>發行年分: 2021</p>
                <p>收錄專輯: <a href="https://open.spotify.com/album/4LWbfv8uvEF3oz7YBFxmzn?autoplay=true" target="_blank">replica</a></p>
            </div>
        </div>

        <main id="app">
            <h1>踊り子</h1>
            <div class="separator"></div>
            <div class="tabs">
                <select v-model="selectedLanguage" class="language-select">
                    <option value="original">原文</option>
                    <option value="zh_tw">繁體中文</option>
                    <option value="zh_cn">簡體中文</option>
                </select>            
            </div>
            <div v-if="selectedLanguage === 'original'" class="tab-content active">
                <div class="lyrics">
                    <p>
                        ねぇ どっかに置いてきたような事が<br>
                        一つ二つ浮いているけど<br>
                        ねぇ ちゃんと拾っておこう<br>
                        はじけて忘れてしまう前に<br><br>
        
                        回り出した あの子と僕の未来が止まり<br>
                        どっかで またやり直せたら<br>
                        回り出した あの子と僕が被害者面で<br>
                        どっかを また練り歩けたらな<br><br>
        
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br><br>
        
                        あのね 私あなたに会ったの<br>
                        夢の中に置いてきたけどね<br>
                        ねぇ どうして私が好きなの<br>
                        一度しか会ったことがないのにね<br><br>
        
                        思いを蹴って 二人でしてんだ<br>
                        壊れない愛を歌う<br>
                        言葉を二人に課して 誓いをたてんだ<br>
                        忘れない愛を歌うようにね<br><br>
        
                        回り出した あの子と僕の未来が止まり<br>
                        どっかで またやり直せたら<br>
                        回り出した あの子と僕が被害者面で<br>
                        どっかを また練り歩けたらな<br><br>
        
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br><br>
        
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br><br>
        
                        回り出した あの子と僕の未来が止まり<br>
                        どっかで またやり直せたら<br>
                        回り出した あの子と僕が被害者面で<br>
                        どっかを また練り歩けたらな<br><br>
        
                        時代に乗って僕たちは<br>
                        変わらず愛に生きるだろう<br>
                        僕らが散って残るのは<br>
                        変わらぬ愛の歌なんだろうな<br><br>
        
                        時代に乗って僕たちは<br>
                        変わらず愛に生きるだろう<br>
                        僕らが散って残るのは<br>
                        変わらぬ愛の歌なんだろうな<br><br>
        
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる<br>
                        とぅるるる とぅるるる とぅるる
                    </p>
                </div>
            </div>
            <div v-if="selectedLanguage === 'zh_tw'" class="tab-content">
                <div class="lyrics">
                    <p>
                        吶、雖然我想起了一兩件<br>
                        我不知不覺遺忘的事情<br>
                        吶、就讓我們好好地撿起來吧<br>
                        在它綻開並忘記之前<br><br>

                        開始轉動的　那孩子與我的未來<br>
                        已經停止　要是我能在其他地方重頭來過的話<br>
                        開始轉動的　那孩子與我裝出了<br>
                        被害者的模樣　要是我能在地方地方緩步前進的話<br><br>

                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br><br>

                        那個啊、我見到了你啊<br>
                        雖然我將你留在了夢裡呢<br>
                        吶、為什麼你喜歡我呢<br>
                        明明我們只有見過一次面呢<br><br>

                        我們一起<br>
                        踢開了感受<br>
                        歌頌出不會壞掉（忘記）的愛情吧<br>
                        我們賦予雙方言語<br>
                        並就此發誓<br>
                        只願我們將會歌頌出不會忘記的愛情<br><br>

                        開始轉動的　那孩子與我的未來<br>
                        已經停止　要是我能在其他地方重頭來過的話<br>
                        開始轉動的　那孩子與我裝出了<br>
                        被害者的模樣　要是我能在地方地方緩步前進的話<br><br>

                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br><br>

                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br>
                        嘟嚕嚕嚕嚕　嘟嚕嚕嚕嚕　嘟嚕嚕<br><br>

                        開始轉動的　那孩子與我的未來<br>
                        已經停止　要是我能在其他地方重頭來過的話<br>
                        開始轉動的　那孩子與我裝出了<br>
                        被害者的模樣　要是我能在地方地方緩步前進的話<br><br>

                        乘上了時代的我們<br>
                        將會一成不變地活在愛裡吧<br>
                        我們所散落在地的<br>
                        應該是一成不變的情歌呢
                    </p>
                </div>
            </div>
        </main>
        <script src="../../js/toggleLyrics.js"></script>
        <script src="../../js/search-block.js"></script>

        <div class="origin-video-section">
            <h2>原版影片</h2>
            <div class="separator"></div>
            <div class="scroll-container">
                <a href="https://www.youtube.com/watch?v=7HgJIAUtICU" target="_blank"><img src="../../images/link-images/odoriko-vaundy.jpg"><span class="tooltip">Vaundy</span></a>
            </div>
        </div>
        
        <div class="cover-section">
            <h2>翻唱</h2>
            <div class="separator"></div>
            <div class="scroll-container">
                <a href="https://www.youtube.com/watch?v=YC0ZkZY3r4I" target="_blank"><img src="../../images/link-images/odoriko-dazbee.jpg"><span class="tooltip">DAZBEE</span></a>
            </div>
        </div>

        <footer>
            <p>copyright &copy; 2024 MelodyMatch</p>
            <ul>
                <li><a href="https://github.com/NoahsarkTaiwan2008/website" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
        </footer>
    </body>
</html>