@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
$color-primary-white: rgb(240, 240, 240);

* {
    padding: 0;
    margin: 0;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.welcome {
    margin-top: 10%;
    text-align: center;
    font-weight: bolder;
}

.welcome h1 {
    font-size: 70px;
}

.welcome h2 {
    font-size: 30px;
}

body {
    background-image: url("images/pexels-steve-1292241.jpg"); 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    backdrop-filter: blur(3px);
}

.card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
  }
  
  .card {
    width: 24rem;
    height: 36rem;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: $color-primary-white;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
   
    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
      filter: brightness(0.8);
    }
  
    h2 {
      position: absolute;
      inset: auto auto 30px 30px;
      margin: 0;
      transition: inset .3s .3s ease-out;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: normal;
      text-transform: uppercase;
      color: white;
      font-weight: bold;
    }
    
    p, a {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
    }
    
    p {
      inset: auto auto 80px 30px;
      color: white;
    }
    
    a {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }
    
    &:hover h2 {
      inset: auto auto 220px 30px;
      transition: inset .3s ease-out;
      color: white;
    }
    
    &:hover p, &:hover a {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
      color: white;
    }

    &:hover a {
      color: black;
      background-color: aliceblue;
      padding: 3px;
      border-radius: 10px;
      font-weight: bold;
    }
    
    &:hover img {
      transition: opacity .3s ease-in;
      filter: blur(3px);
      filter: brightness(0.5);
      opacity: 1;
    }
  
  }
  
.material-symbols-outlined {
    vertical-align: middle;
}

.music-card {
    display: flex;
    justify-content: space-evenly;
}