<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>[日向電工 - ブリキノダンス] MelodyMatch</title>
        <link rel="stylesheet" href="../../css/nav-bar.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/separator.css">
        <link rel="stylesheet" href="../../css/song-lyrics-page.css">
        <link rel="stylesheet" href="buriki-no-dance.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" integrity="sha512-U9Y1sGB3sLIpZm3ePcrKbXVhXlnQNcuwGQJ2WjPjnp6XHqVTdgIlbaDzJXJIAuCTp3y22t+nhI4B88F/5ldjFA==" crossorigin="anonymous" />
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel='icon' href='../../images/icon.svg'>
    </head>
    <body>
        <nav class="navbar">
            <a href="../../index.html" class="nav-logo">MelodyMatch</a>
            <ul class="nav-links">
                <li><a href="../../index.html">首頁</a></li>
                <li><a href="../../about.html">關於我們</a></li>
                <li><a href="../song-list.html">所有歌詞</a></li>
                <li><a href="../../lyrics-upload.html">新增歌詞</a></li>
                <li><a href="../../login.html">登入</a></li>
                <li>
                    <form class="search-form" action="search-results.html" method="get">
                        <input type="text" name="query" class="search-input" placeholder="搜尋歌曲或藝人">
                        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="information">
            <img src="../../images/song/buriki-no-dance.jpg">
            <div class="info-text">
                <h2>ブリキノダンス</h2>
                <p>藝人: 日向電工</p>
                <p>演唱: 初音未來</p>
                <p>發行年分: 2013</p>
                <p>收錄專輯: <a href="https://open.spotify.com/album/3k6wSNsPTdWI42ddPgAP0Y" target="_blank">ブラックホールディスク</a></p>
            </div>
        </div>

        <main id="app">
            <h1>ブリキノダンス</h1>
            <div class="separator"></div>
            <div class="tabs">
                <select v-model="selectedLanguage" class="language-select">
                    <option value="original">原文</option>
                    <option value="zh_tw">繁體中文</option>
                    <option value="zh_cn">簡體中文</option>
                </select>            
            </div>
            <div v-if="selectedLanguage === 'original'" class="tab-content active">
                <div class="lyrics">
                    <p>
                        さあ 憐れんで 血統書 持ち寄って反教典<br>
                        沈んだ唱導 腹這い幻聴<br>
                        謁見 席巻 妄信症<br>
                        踊れ酔え孕め アヴァターラ新大系<br>
                        斜めの幻聴 錻力と宗教<br>
                        ラル・ラリ・唱えろ生<br><br>
        
                        まあ 逆らって新王都 くぐもった脳系統<br>
                        墓掘れ説法 釈迦釈迦善行<br>
                        六感・吶喊・竜胆・錠<br>
                        どれどれ 震え 蔑さげすんで新体系<br>
                        欺瞞の延長 詭弁の劣等<br>
                        ドグ・ラグ・叶えろ<br><br>
        
                        不気味な手 此処に在り<br>
                        理性の目 咽び泣き<br>
                        踵返せ遠くに<br>
                        偲ぶ君の瞳を<br><br>
        
                        さあ 皆舞いな 空洞で<br>
                        サンスクリット求道系 抉り抜いた鼓動<br>
                        咲かせ咲かせ<br>
                        さあ 剽悍な双眸を エーカム そうさ 先頭に<br>
                        真っ赤に濡れた空 踵鳴らせ<br><br>
        
                        嗚呼 漠然と運命星<br>
                        重度に負った喘鳴に<br>
                        優劣等無いさ回れ踊れ<br>
                        もう 漠然と九番目が龍を薙ぐ<br>
                        パッパラ・ラル・ラリ ブリキノダンス<br><br>
        
                        さあ 微笑んで急展開 ナラシンハ流体系<br>
                        積もった信仰 惜別劣等<br>
                        怨恨 霊堂 脳震盪<br>
                        パラパラ狂え アヴァターラ半酩酊<br>
                        次第に昏倒<br>
                        劣悪情動 崇めろバララーマ<br><br>
        
                        死んでる龍が吼える バガヴァッド・ギーターで<br>
                        張り詰め心臓<br>
                        押し引け問答 無に帰す桃源郷<br>
                        ドウドウ唸れ アヴァターラ封筒へ<br>
                        クリシュナ誘導 アルジュナ引導<br>
                        ドグ・ラグ・祝えや<br><br>
        
                        不気味な手 誠なり<br>
                        理解などとうに無き<br>
                        鬼神討てよ遠くに<br>
                        潜む影の手引きを<br>
        
                        さあ皆 舞な 衝動で<br>
                        サンスクリット求道系 雑多に暮れた日々<br>
                        廃れ 廃れ<br>
                        さあ剽悍な双眸で<br>
                        サプタの脳が正統系<br>
                        真っ赤に塗れた空<br>
                        響け響け<br><br>
        
                        嗚呼 六芒と流線型<br>
                        王族嫌悪は衝動性<br>
                        ピンチにヒットな祝詞 ハバケ・ルドレ<br>
                        もう 漠然と九番目が狂を急ぐ<br>
                        巷で噂の ブリキノダンス<br><br>
        
                        さあ 皆舞いな 空洞で<br>
                        サンスクリット求道系 抉り抜いた鼓動<br>
                        咲かせ燃やせ<br>
                        さあ 剽悍な双眸を エーカム そうさ 先頭で<br>
                        全く以て 鼓動がダンス<br><br>
        
                        王手を盗って遠雷帝<br>
                        サンスクリット求道系 妄想信者踊る<br>
                        酷く脆く<br>
                        もう 漠然と九番目が盲如く<br>
                        御手々を拝借 ブリキノダンス
                    </p>
                </div>
            </div>
            <div v-if="selectedLanguage === 'zh_tw'" class="tab-content">
                <div class="lyrics">
                    <p>
                        啊　那令人憐惜的　血統證明<br>
                        沉溺而下的倡導　匍匐前行的幻聽　謁見　席捲　妄自相信症<br>
                        起舞著　沉醉著　孕育著　Avatāra新的大觀念<br>
                        傾斜的幻聽　武力與宗教　Raru Rari 詠唱著生命<br><br>

                        嘛　逆轉的新王都　不清不楚的腦系統<br>
                        自掘墳墓的言論　釋迦摩尼的善行　六感 吶喊 龍膽 藥片<br>
                        誰呢誰呢　顫抖著　蔑視的新體系<br>
                        欺騙的延長　詭辯的劣等　Dogu Ragu 實現了喔<br><br>

                        討厭的手啊　就在此處<br>
                        理性的眼啊　哽咽著哭泣<br>
                        回到遠方吧<br>
                        思念著 你的雙眸啊<br><br>

                        來吧 大家來跳舞吧　空洞的　Sanskrit的求道系<br>
                        將那鼓動揭露出來　綻放吧綻放吧<br>
                        來吧　剽悍的雙眸啊　Ekam 就是說。 在最前面<br>
                        被赤紅濡滿的天空　腳步聲響起了<br><br>

                        啊啊　漠然與命運之星　被重物壓沉的喘息聲<br>
                        沒有優劣之分　迴旋著起舞<br>
                        已經　漠然與第九次砍倒龍<br>
                        Pappara raru rari　馬口鐵之舞<br><br>

                        啊　微笑著急速展開　Narasimha的流體系<br>
                        累積的信仰　惜別劣等　怨恨　靈堂　腦震盪<br>
                        亂成一團的瘋狂著Avatāra醉了一半<br>
                        緊接著昏倒　惡劣動情　崇拜著Balarāma<br><br>

                        死去的龍狂吼著　Bhagavad Gītā<br>
                        將心臟給覆蓋起　沉沉壓迫著的問答　回到一片虛無的桃源鄉<br>
                        喃喃的念著Avatāra的郵筒<br>
                        Krishna的誘導　Arjuna的引導　Dogu ragu 祝賀著啊<br><br>

                        討厭的手啊　虔誠的<br>
                        理解什麼的才沒有<br>
                        向著遠方討伐鬼神<br>
                        握住潛藏的影之手吧<br><br>

                        來吧　大家來跳舞吧　衝動的　Sanskrit的求道系<br>
                        雜亂黃昏的每一日　荒廢了　荒廢了<br>
                        來吧　剽悍的雙眸啊　以sapta的腦為正統吧<br>
                        被赤紅濡滿的天空　響起了 響起了<br><br>

                        啊啊　六芒星與流線型　厭惡王族是衝動性<br>
                        危機之中的祝賀之詞Habake rudore<br>
                        已經 漠然與第九次急促的瘋狂<br>
                        巷子裡的傳言　馬口鐵之舞<br><br>
                        
                        來吧　大家起舞吧　空洞的　Sanskrit的求道系<br>
                        將那鼓動揭露出來　綻放著燃燒著<br>
                        來吧　那剽悍的雙眸　Ekam 就是說。在最前面<br>
                        全部將其拿來　鼓動著舞蹈<br><br>

                        被將軍盜取的遠雷帝　Sanskrit的求道系<br>
                        妄想信者起舞著。　是多麼的脆弱啊<br>
                        已經　漠然與第九次是看不見的<br>
                        請借您之手一用　馬口鐵之舞
                    </p>
                </div>
            </div>
        </main>
        <script src="../../js/toggleLyrics.js"></script>
        <script src="../../js/search-block.js"></script>

            <div class="origin-video-section">
                <h2>原版影片</h2>
                <div class="separator"></div>
                <div class="scroll-container">
                    <a href="https://www.nicovideo.jp/watch/sm20296308" target="_blank"><img src="../../images/link-images/buriki-no-dance-日向電工.jpg"><span class="tooltip">日向電工</span></a>
                </div>
            </div>
            
            <div class="cover-section">
                <h2>翻唱</h2>
                <div class="separator"></div>
                <div class="scroll-container">
                    <a href="https://www.youtube.com/watch?v=iL7uoLCbJoc" target="_blank"><img src="../../images/link-images/buriki-no-dance-Ado.jpg" width="300px"><span class="tooltip">Ado</span></a>
                    <a href="https://www.youtube.com/watch?v=jJPeT3LJk20" target="_blank"><img src="../../images/link-images/buriki-no-dance-Cocolu-Genjin.jpg" width="300px"><span class="tooltip">Cocolu Genjin</span></a>
                </div>
            </div>         

        <footer>
            <p>copyright &copy; 2024 MelodyMatch</p>
            <ul>
                <li><a href="https://github.com/NoahsarkTaiwan2008/website" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
        </footer>
    </body>
</html>