body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #D8BFD8, #E6E6FA, #DDA0DD);
}

.information {
    background: linear-gradient(to bottom right, #D8BFD8, #E6E6FA, #DDA0DD);
}

main {
    background: linear-gradient(to bottom right, #D8BFD8, #E6E6FA, #DDA0DD);
}

.origin-video-section, .cover-section {
    background: linear-gradient(to bottom right, #D8BFD8, #E6E6FA, #DDA0DD); 
}
