<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8'>
        <title>[Yorushika - だから僕は音楽を辞めた] MelodyMatch</title>
        <link rel="stylesheet" href="../../css/nav-bar.css">
        <link rel="stylesheet" href="../../css/footer.css">
        <link rel="stylesheet" href="../../css/song-lyrics-page.css">
        <link rel="stylesheet" href="だから僕は音楽を辞めた.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" integrity="sha512-U9Y1sGB3sLIpZm3ePcrKbXVhXlnQNcuwGQJ2WjPjnp6XHqVTdgIlbaDzJXJIAuCTp3y22t+nhI4B88F/5ldjFA==" crossorigin="anonymous" />
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <link rel='icon' href='../../images/icon.svg'>
    </head>
    <body>
        <nav class="navbar">
            <a href="../../index.html" class="nav-logo">MelodyMatch</a>
            <ul class="nav-links">
                <li><a href="../../index.html">首頁</a></li>
                <li><a href="../../about.html">關於我們</a></li>
                <li><a href="../song-list.html">所有歌詞</a></li>
                <li><a href="../../lyrics-upload.html">新增歌詞</a></li>
                <li><a href="../../login.html">登入</a></li>
                <li>
                    <form class="search-form" action="search-results.html" method="get">
                        <input type="text" name="query" class="search-input" placeholder="搜尋歌曲或藝人">
                        <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </form>
                </li>
            </ul>
        </nav>

        <div class="information">
            <img src="../../images/song/だから僕は音楽を辞めた.jpg">
            <div class="info-text">
                <h2>だから僕は音楽を辞めた</h2>
                <p>藝人: Yorushika</p>
                <p>發行年分: 2019</p>
                <p>收錄專輯: <a href="https://open.spotify.com/album/4b9nOSXSf1LROzgfYFxdxI" target="_blank">だから僕は音楽を辞めた</a></p>
            </div>
        </div>

        <main id="app">
            <h1>だから僕は音楽を辞めた</h1>
            <div class="separator"></div>
            <div class="tabs">
                <select v-model="selectedLanguage" class="language-select">
                    <option value="original">原文</option>
                    <option value="zh_tw">繁體中文</option>
                    <option value="zh_cn">簡體中文</option>
                </select>            
            </div>
            <div v-if="selectedLanguage === 'original'" class="tab-content active">
                <div class="lyrics">
                    <p>
                        考えたってわからないし<br>
                        青空の下、君を待った<br>
                        風が吹いた正午、昼下がりを抜け出す想像<br>
                        ねぇ、これからどうなるんだろうね<br>
                        進め方教わらないんだよ<br>
                        君の目を見た 何も言えず僕は歩いた<br><br>
        
                        考えたってわからないし<br>
                        青春なんてつまらないし<br>
                        辞めた筈のピアノ、机を弾く癖が抜けない<br>
                        ねぇ、将来何してるだろうね<br>
                        音楽はしてないといいね<br>
                        困らないでよ<br><br>
        
                        心の中に一つ線を引いても<br>
                        どうしても消えなかった 今更なんだから<br>
                        なぁ、もう思い出すな<br><br>
        
                        間違ってるんだよ<br>
                        わかってないよ、あんたら人間も<br>
                        本当も愛も世界も苦しさも人生もどうでもいいよ<br>
                        正しいかどうか知りたいのだって防衛本能だ<br>
                        考えたんだ あんたのせいだ<br><br>
        
                        考えたってわからないが、本当に年老いたくないんだ<br>
                        いつか死んだらって思うだけで胸が空っぽになるんだ<br>
                        将来何してるだろうって<br>
                        大人になったらわかったよ<br>
                        何もしてないさ<br><br>
        
                        幸せな顔した人が憎いのは<br>
                        どう割り切ったらいいんだ<br>
                        満たされない頭の奥の<br>
                        化け物みたいな劣等感<br><br>
        
                        幸せな顔した人が憎いのは<br>
                        どう割り切ったらいいんだ<br>
                        満たされない頭の奥の<br>
                        化け物みたいな劣等感<br><br>
        
                        考えたってわからないし<br>
                        生きてるだけでも苦しいし<br>
                        音楽とか儲からないし<br>
                        歌詞とか適当でもいいよ<br>
                        どうでもいいんだ<br><br>
        
                        間違ってないだろ<br>
                        間違ってないよな<br>
                        間違ってないよな<br><br>
        
                        間違ってるんだよ わかってるんだ<br>
                        あんたら人間も<br>
                        本当も愛も救いも優しさも人生もどうでもいいんだ<br>
                        正しい答えが言えないのだって防衛本能だ<br>
                        どうでもいいや あんたのせいだ<br><br>
        
                        僕だって信念があった<br>
                        今じゃ塵みたいな想いだ<br>
                        何度でも君を書いた<br>
                        売れることこそがどうでもよかったんだ<br>
                        本当だ 本当なんだ 昔はそうだった<br><br>
        
                        だから僕は<br>
                        だから僕は音楽を辞めた
                    </p>
                </div>
            </div>
            <div v-if="selectedLanguage === 'zh_tw'" class="tab-content">
                <div class="lyrics">
                    <p>
                        思考過依舊搞不懂<br>
                        青穹之下 等候著妳<br>
                        正午風吹 思慮開始飄離午後<br>
                        欸 今後該何去何從呢<br>
                        根本沒學會怎樣才能向前邁進啊<br>
                        注視妳的瞳孔 我一言不語繼續走著<br><br>

                        思考過還是搞不懂<br>
                        青春真是無聊至極<br>
                        本該放棄了鋼琴 卻改不了敲桌子寫譜的習慣<br>
                        欸 將來在做什麼呢<br>
                        希望不要是做音樂的呢<br>
                        不要感到遺憾啊<br><br>

                        就算心裡仍有一絲牽掛<br>
                        依舊意料之中地消失了 畢竟早就為時已晚了啊<br>
                        喂 別再回憶起了啊<br><br>

                        根本就做錯了啊<br>
                        什麼都沒搞懂嘛 不管是你們這些人<br>
                        還是真實、愛、或是世界、苦痛 抑或人生 根本無關緊要啊<br>
                        想要知道正確與否只是出自自我防衛本能<br>
                        仔細想想 都是妳的錯<br><br>
                        
                        思考過還是搞不懂 其實我一點也不願意老去<br>
                        光是想說總有一天會死 胸口便感到一陣空虛<br>
                        「將來 在做什麼呢」<br>
                        長大後才明白<br>
                        根本一事無成啊<br><br>

                        又該如何看開憎恨一臉洋溢幸福的人的心情<br>
                        腦中那怪物一般的劣等感完全無法得到填補<br>
                        沒錯啊<br>
                        喂 說來說去 你們這些人啊<br>
                        愛也好拯救也罷又或是溫柔 沒來由的 很讓人反感的啊<br>
                        情歌會讓人感到心痛也只是出自自我防衛本能<br>
                        怎樣都無所謂啦 都是妳害的<br><br>

                        思考過了依舊搞不懂<br>
                        光是活著就夠痛苦了<br>
                        做音樂根本就得不到好處<br>
                        所以歌詞隨便寫寫就好了啊<br>
                        怎樣都無所謂了啦<br><br>

                        沒錯吧<br>
                        沒有做錯吧<br><br>

                        根本就錯了啊 早就知道的啦<br>
                        不管是你們這些人<br>
                        還是真實、愛、或是救贖、溫柔 抑或人生 根本無關緊要啊<br>
                        說不出正確答案只是出自自我防衛本能<br>
                        無所謂啦 反正都是妳害的<br><br>

                        我也是有過信念的<br>
                        但如今那早已成為一文不值的想法了<br>
                        無數次描寫著妳<br>
                        壓根沒在乎過能熱賣這事<br>
                        不騙妳 真的不騙妳 從以前開始就是如此了<br><br>

                        所以我才放棄了音樂
                    </p>
        
                </div>
            </div>
        </main>
        <script src="../../js/toggleLyrics.js"></script>
        <script src="../../js/search-block.js"></script>

        <div class="origin-video-section">
            <h2>原版影片</h2>
            <div class="separator"></div>
            <div class="scroll-container">
                <a href="https://www.youtube.com/watch?v=KTZ-y85Erus" target="_blank"><img src="../../images/link-images/だから僕は音楽を辞めた-yorushika.jpg"><span class="tooltip">Yorushika</span></a>
            </div>
        </div>
        
        <div class="cover-section">
            <h2>翻唱</h2>
            <div class="separator"></div>
            <div class="scroll-container">
                <a href="https://www.youtube.com/watch?v=YC0ZkZY3r4I" target="_blank"><img src="../../images/link-images/だから僕は音楽を辞めた-dazbee.jpg"><span class="tooltip">DAZBEE</span></a>
            </div>
        </div>

        <footer>
            <p>copyright &copy; 2024 MelodyMatch</p>
            <ul>
                <li><a href="https://github.com/NoahsarkTaiwan2008/website" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
            </ul>
        </footer>
    </body>
</html>
